.planets-list { 
    font-size: 14px; 
  }
  .slider {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    width: 60px;
    height: 34px;
    border-radius: 25%;
  }
  body.dark {
    background-color: black;
  }
  
  body:not(.dark) .planets-list {
    color: black;
  }
  
  body.dark .planets-list {
    color: #66bb6a;
  }
  body.dark .slider {
    background-color: #66bb6a;
  }